/* 水平垂直居中 */
.HV-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 清除浮动 */
.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}